@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-one {
  font-family: 'Cutive', serif;
}

.font-two {
  font-family: 'Poppins', sans-serif;
}

.link-animate {
  color: #5a5a5a;
  transition: background .2s;
}

.link-animate:hover {
  background: blue;
  color: #fff;
}


.link-animate:visited {
  background: #5a5a5a;
  color: #fff;
}