/* @import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8f8f8;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

.abstract {
  background: url("../src/assets/abstract.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-custom {
  background: #f8f8f8;
}

.card {
  border: .5px solid #f8f8f8;
  border-bottom: 8px solid #22d3ee;
  width: 250px;
}
 
.font-one {
  color: #5a5a5a;
  font-family: 'Rubik', sans-serif;
}

.font-two {
  /* color: #8a8a8a; */
  font-family: 'Rubik', sans-serif;
}

.link-animate {
  color: #141414;
  transition: background .2s;
}

.link-animate-visited {
  background: #84dae8;
  font-weight: 500;
}

@media screen and (max-width: 1300px) {
  .card {
    width: 350px;
  }
  .link-display {
    display: none !important;
  }
  .main {
    width: 100%
  }
  .responsive {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .abstract {
    display: none;
  }
  .abstract-sidebar {
    display: none;
  }
  .auth-box {
    display: flex;
    justify-content: center;
    width: 100% !important;
  }
  .form {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .form {
    width: 80%;
  }
}